/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

/* Import Roboto */
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

/* Import Roboto Light 100 */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);

/* Import Roboto Black 900 */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap);

/* Import Roboto Bold 700  */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
}

.logo img {
  height: 14vh;
  width: 20vw;
  padding-top: 10px;
  padding-left: 7px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navigation-links {
  display: flex;
  padding: 30px;
}

.navigation-links a {
  color: #1a1a1a;
  font-weight: 100;
  font-size: 20px;
  text-decoration: none;
}

.navigation-links a:hover {
  color: #00b172;
}

.navigation-links div {
  padding: 15px;
}

.landing-image {
  position: relative;
  text-align: center;
  color: #fff;
}

.landing-image h1 {
  position: absolute;
  top: 30vh;
  bottom: 40vh;
  left: 30vw;
  font-size: 54px;
}

.landing-image-h3 {
  position: absolute;
  top: 45vh;
  left: 10vw;
  font-size: 24px;
}

.landing-image img {
  width: 100%;
  height: 80vh;
}
